<div class="register-wrapper">
    <div class="register-container">
        <h2>Create Your Account</h2>
        <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username"
                    formControlName="username" required>
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" formControlName="email"
                    required>
            </div>

            <div formGroupName="passGroup">
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Create a password"
                        formControlName="password" required>
                </div>

                <div class="input-group">
                    <label for="rePassword">Confirm Password</label>
                    <input type="password" id="rePassword" name="rePassword" placeholder="Confirm your password"
                        formControlName="rePassword" required>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit" class="register-btn" [disabled]="form.invalid">Register</button>
                <p class="login-link">Already have an account? <a routerLink="/login">Login</a></p>
            </div>
        </form>
    </div>
</div>
