<header>
    <nav class="navbar">
        <div class="logo-wrap">
            <img src="logo1.png" alt="Logo" class="logo-img">
            <p class="logo">GamesBlog</p>
        </div>

        <ul class="nav-links">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Games</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Add Games</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Logout</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Profile</a>
            </li>
        </ul>
    </nav>
</header>
