<div class="game-catalog">
    <h1 class="catalog-title">Game Catalog</h1>
    <div class="games-wrapper">
            <h1 class="catalog-title">There is no added games yet!</h1>
                <div class="game-card">
                    <img src="" alt="Game 1"
                        class="game-image">
                    <div class="game-details">
                        <h2 class="game-title"><!-- {{game.name}}--></h2>
                        <p class="game-description"><!-- {{game.description}}--></p>
                        <a href="#" class="see-more-btn">See More</a>
                    </div>
                </div>
    </div>
</div>